<!DOCTYPE html>
<html lang="en">
<head>
<!-- <meta charset="utf-8" /> -->
<link rel="stylesheet" href="../../../wdu_2010-12-14/resources/styles.css" />
<link rel="stylesheet" href="../../../wdu_2010-12-14/content/css/styles.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:bond|Droid+Sans+Mono" />
<link rel="stylesheet" href="../../../wdu_2010-12-14/custom.css" />
<title>WDU</title>
</head>
<body>

{{ content }}

<script src="../../../wdu_2010-12-14/resources/jquery-1.4.2.min.js"></script>
<script src="../../../wdu_2010-12-14/resources/htmlSlides.js"></script>
<script src="../../../wdu_2010-12-14/custom.js"></script>
</body>
</html>
